#form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	place-items: center;
	width: 300px;
	height: 480px;
	padding: 25px;
	background-color: #161616;
	border-radius: 15px;
	box-shadow: 0px 15px 60px rgba(153, 105, 255, 0.5), 0px 0px 30px 10px rgba(153, 105, 255, 0.5);
	outline: 1px solid #9969ff;
}

body {
	background-color: #212121;
	background-image: url("https://learn.zone01dakar.sn/assets/img/01-trame.svg");
	background-size: cover;
}

#welcome-lines {
	text-align: center;
	line-height: 1;
}

#welcome-line-1 {
	color: #caadff;
	font-weight: 600;
	font-size: 40px;
}

#welcome-line-2 {
	color: #ffffff;
	font-size: 18px;
	margin-top: 17px;
}

#input-area {
	margin-top: 40px;
}

.form-inp {
	padding: 11px 25px;
	background: transparent;
	border: 1px solid #e3e3e3;
	line-height: 1;
	border-radius: 8px;
}

.form-inp:focus {
	border: 1px solid #caadff;
}

.form-inp:first-child {
	margin-bottom: 15px;
}

.form-inp input {
	width: 100%;
	background: none;
	font-size: 13.4px;
	color: #caadff;
	border: none;
	padding: 0;
	margin: 0;
}

.form-inp input:focus {
	outline: none;
}

#submit-button-cvr {
	margin-top: 20px;
}

#submit-button {
	display: block;
	width: 100%;
	color: #9969ff;
	background-color: transparent;
	font-weight: 600;
	font-size: 14px;
	margin: 0;
	padding: 14px 13px 12px 13px;
	border: 0;
	outline: 1px solid #9969ff;
	border-radius: 8px;
	line-height: 1;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

#submit-button:hover {
	transition: all ease-in-out 0.3s;
	background-color: #9969ff;
	color: #161616;
	cursor: pointer;
}

#forgot-pass {
	text-align: center;
	margin-top: 50px;
	color: #caadff;
	font-size: 19px;
	font-weight: 300;
}

#bar:before,
#bar:after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #ececec;
	border-radius: 50%;
}

#bar:before {
	right: -20px;
}

#bar:after {
	right: -38px;
}
